.playlist {
    background-color: #9EC6C2;
    height: 50vh;
    margin-top: 2rem;
    overflow-y: scroll;
}

.playlist-song {
    margin: 0.5rem;
    cursor: pointer
}

.playlist-song-info {
    display: flex;
    align-items: center;
    overflow: hidden;
}

@media (width <576px) {
    .YTthumbnail {
        display: block;
        height: 10rem;
        margin: auto;
        text-align: center;
    }

    .playlist-song-info {
        display: none;
    }
}