.playlist {
    /* background-color: #6B6F89; */
    background-color: #9EC6C2;
    height: 50vh;
    margin-top: 2rem;
    overflow-y: scroll;
}

.playlist-song {
    margin: 0.5rem;
    /* border: 1px solid red; */
    cursor: pointer
}

.playlist-song-info {
    display: flex;
    align-items: center;
}